.jtp-welcome{
    background-color: #BF1E2E;
}
.jtp-welcome h3{
    font-family:'poppins', sans-serif;
    font-weight: 500;
    justify-content: center;
    display: flex;
    padding:1em;
    color: white;

}
.jtp-welcome-inner-info{
    background-color: #F9F9F8;
}

.jtp-welcome-jumbo{
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.jtp-cards{
    display: flex;
    justify-content: center;
}
.jtp-stats{
    width: 300px;
    height: auto;
    box-shadow: 0px 12px 23px 0px rgb(189 162 92 / 4%);
    margin: 2em;
    /* border: 1px solid rgba(0, 0, 0, 0.125); */
}
.jtp-stat-name{
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    font-family:'poppins', sans-serif;

}
.jtp-stats-details{
    background-color: #FFFFFF;
    display: grid;
    justify-content: center;
}
.jtp-stats-details span{
   display: flex;
   justify-content:center;
    font-size:x-large;
    font-family:'poppins', sans-serif;
    margin: 01em;
}

.jtp-stats-details button{
    background-color: #BF1E2E;
    color: white;
    padding-top: 0.938rem;
    padding-right: 1.5rem;
    padding-bottom: 0.938rem;
    padding-left: 1.5rem;
    border:none;
    margin: 1em;
    font-family: "SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace";
    text-align: center;
    font-weight: 200;
    font-size: 1rem;
    cursor: pointer;
    width: 120%;

}

.strip{
    height: 4px;
    overflow: hidden;
}
.strip-inner{
    animation-duration: 5s;
    animation-name: myanimation;
    transition: all 5s ease 0s;
    width: 100%;
    height: 4px;
    background-color: #BF1E2E;
}
@keyframes myanimation {
    0% {
        width: 0;
    }
}

@keyframes myanimation {
    0% {
        width: 0;
    }
}

@media screen (271px) {
    
}
.inner-btn{
    width: 100%;
    padding-left: 15px;
    z-index: 1;
}
.select-update{
    display: flex;
    justify-content: center;
    font-family:'poppins', sans-serif;
    font-weight: 500;
    padding-top:20px;
}

.single-select{
    display: flex;
    justify-content: center;
}
.select-update-btn{
    padding:20px;
}
.select-jumbo-inner button{
    color: white;
    background-color: #BF1E2E;
    border:none;
    padding:10px;
    text-transform: uppercase;
    font-size: bold;
    margin-left:20px;
    font-family:'poppins', sans-serif;
    cursor: pointer;
}

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

* {
}


.selectcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.selectcontainer .option_item {
  display: block;
  position: relative;
  width: 300px;
  height: 300px;
  margin: 10px;
}

.selectcontainer .option_item .checkbox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
}

.option_item .option_inner {
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 5px;
  text-align: center;
  /* padding: 58px 40px; */
  cursor: pointer;
  color: #585c68;
  display: block;
  border: 5px solid transparent;
  position: relative;

  background-image: url(../img/team-2-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.option_item .option_inner .icon {
  margin-bottom: 10px;
}

.option_item .option_inner .icon .fab {
  font-size: 32px;
}

.option_item .option_inner .name {
  user-select: none;
}

.option_item .checkbox:checked ~ .option_inner.facebook {
  border-color: #BF1E2E;
  color: #BF1E2E;
}

.option_item .checkbox:checked ~ .option_inner.twitter {
  border-color: #55acee;
  color: #55acee;
}

.option_item .checkbox:checked ~ .option_inner.instagram {
  border-color: #e4405f;
  color: #e4405f;
}

.option_item .checkbox:checked ~ .option_inner.linkedin {
  border-color: #0077b5;
  color: #0077b5;
}

.option_item .checkbox:checked ~ .option_inner.whatsapp {
  border-color: #25d366;
  color: #25d366;
}

.option_item .checkbox:checked ~ .option_inner.google {
  border-color: #dd4b39;
  color: #dd4b39;
}

.option_item .checkbox:checked ~ .option_inner.reddit {
  border-color: #ff5700;
  color: #ff5700;
}

.option_item .checkbox:checked ~ .option_inner.quora {
  border-color: #b92b27;
  color: #b92b27;
}

.option_item .option_inner .tickmark {
  position: absolute;
  top: 0;
  left: 0;
  border: 20px solid;
  border-color: #000 transparent transparent #000;
  display: none;
}

.option_item .option_inner .tickmark:before {
  content: "";
  position: absolute;
  top: -18px;
  left: -18px;
  width: 15px;
  height: 5px;
  border: 3px solid;
  border-color: transparent transparent #fff #fff;
  transform: rotate(-45deg);
}

.option_item .checkbox:checked ~ .option_inner .tickmark {
  display: block;
}

.option_item .option_inner.facebook .tickmark {
  border-color: #BF1E2E transparent transparent #BF1E2E;
}

.option_item .option_inner.twitter .tickmark {
  border-color: #55acee transparent transparent #55acee;
}

.option_item .option_inner.instagram .tickmark {
  border-color: #e4405f transparent transparent #e4405f;
}

.option_item .option_inner.linkedin .tickmark {
  border-color: #0077b5 transparent transparent #0077b5;
}

.option_item .option_inner.whatsapp .tickmark {
  border-color: #25d366 transparent transparent #25d366;
}

.option_item .option_inner.google .tickmark {
  border-color: #dd4b39 transparent transparent #dd4b39;
}

.option_item .option_inner.reddit .tickmark {
  border-color: #ff5700 transparent transparent #ff5700;
}

.option_item .option_inner.quora .tickmark {
  border-color: #b92b27 transparent transparent #b92b27;
}
